# relative path to the folder with JavaScript files
jsPath=../example2/scripts

# name of the BML file to generate
outputIndex=startup.bml

# list of the names of JavaScripts files to look for in jsPath folder
jsFiles=utils.js,Object.js,application.js
